.new_user {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.field input {
  width: 300px;
  margin-bottom: 16px;
}

.actions input {
  width: 300px;
  margin-bottom: 16px;
}
