<!DOCTYPE html>
<html>
  <head>
    <title>Blog App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <navbar class="navbar">
   <div class="header">User</div>
    <div class="header">Post</div>
    <div class="header">Comment</div>  
  </navbar>
    <%= yield %>
  </body>
</html>
